
<div class="start_bar">
    <input id="startButton" type="image" alt="Start Button" src="@Url.Content("~/Content/Images/start.gif")" height="35" width="80">
    <div id="startMenu" class="startMenu-content">
        <img class="startMenuLogo" src="@Url.Content("~/Content/Images/win95.png")" alt="Start Menu Logo">
        <input id="programsButton" class="programs_button" type="image" alt="Programs Button" src="@Url.Content("~/Content/Images/programs.png")" height="50" width="200">
        <div id="startSubMenu" class="start-subMenu-content">
            <a href=" @Url.Action("Paint","Home")"><input id="paint_button" type="image" alt="Programs Button" src="@Url.Content("~/Content/Images/mspaint.png")" height="50" width="200"></a>
           
        </div>
        <input id="contact_button" type="image" alt="contact Button" src="@Url.Content("~/Content/Images/contact.png")" height="50" width="200">
        <input id="about_button" type="image" alt="about Button" src="@Url.Content("~/Content/Images/about.png")" height="50" width="200">
    </div>
    <div id="About" class="windowButton">
        About
    </div>
    <img id="clockbg" src="@Url.Content("~/Content/Images/clock.gif")" height="35" width="90" alt="Clock">
    <span id="clock">
        @DateTime.Now.ToString("hh:mm tt")
    </span>
</div>